* {
    padding: 0;
    margin: 0;
}



.container {
    display: grid;
}

.card-conteudo{
    padding-top: 30px;
}

.conteudo {
    width: 90%;
    padding-top: 10%;
}

.container-fluid {
    padding: 0;
}


footer {
    position: relative;
}

.waves{
    border: none;
    bottom: 0;
    left: 0;
    right: 0;
}

.wave-1{
    animation: moveWave1 3s ease-in-out  infinite alternate;
}

@keyframes moveWave1{
    from{
        transform: translatex(-30px);
    }
}
.wave-2{
    animation: moveWave2 3s 1.2s ease-in-out  infinite alternate;
}

@keyframes moveWave2{
    from{
        transform: translatex(-20px);
    }
}

.wave-3{
    animation: moveWave3 3s ease-in-out  infinite alternate;
}

@keyframes moveWave3{
    from{
        transform: translatex(-15px);
    }
}


.copyright{
   background-color: #5BA5D7;
   border: none;
   text-align: center;
}


.copyright p{
    margin: 0;

}

/*#Conteudo1 {
    width: 90%;
    padding-top: 10%;
}

#conteudo2 {
    width: 90%;
    padding-top: 10%;
}

#conteudo3 {
    width: 90%;
    padding-top: 10%;
}

#conteudo3 {
    width: 90%;
    padding-top: 10%;
}