* {
    padding: 0;
    margin: 0;
}



.container {
    display: grid;
}

.card-conteudo{
    padding-top: 30px;
}

.conteudo {
    width: 90%;
    padding-top: 10%;
}

.container-fluid {
    padding: 0;
}


footer {
    position: relative;
}

.waves{
    border: none;
    bottom: 0;
    left: 0;
    right: 0;
}

.wave-1{
    animation: moveWave1 3s ease-in-out  infinite alternate;
}

@keyframes moveWave1{
    from{
        transform: translatex(-30px);
    }
}
.wave-2{
    animation: moveWave2 3s 1.2s ease-in-out  infinite alternate;
}

@keyframes moveWave2{
    from{
        transform: translatex(-20px);
    }
}

.wave-3{
    animation: moveWave3 3s ease-in-out  infinite alternate;
}

@keyframes moveWave3{
    from{
        transform: translatex(-15px);
    }
}


.copyright{
   background-color: #5BA5D7;
   border: none;
   text-align: center;
}


.copyright p{
    margin: 0;

}

/* Estilo dos botões (Saber Main, Login e Cadastro) */
.btn {
    display: inline-block;
    padding: 9px 18px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #007bff; /* Cor da borda */
    color: #007bff; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border-radius: 5px; /* Borda arredondada */
    transition: all 0.3s ease;
    margin-right: 5px; /* Espaçamento entre os botões */
}

/* Estilo dos botões quando passa o mouse */
.btn:hover {
    background-color: #0055b1; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

/* Estilo dos botões */
.navbar-nav .nav-link.Home,
.navbar-nav .nav-link.sobre,
.navbar-nav .nav-link.contato {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: #006eff; /* Cor do texto */
    background-color: transparent; /* Cor de fundo */
    border: 2px solid #fff; /* Cor da borda */
    border-radius: 5px; /* Borda arredondada */
    transition: all 0.3s ease;
}

/* Estilo dos botões quando passa o mouse */
.navbar-nav.nav-link.Home:hover,
.navbar-nav .nav-link.sobre:hover,
.navbar-nav .nav-link.contato:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    border-color: #0056b3; /* Cor da borda ao passar o mouse */
}

/*#Conteudo1 {
    width: 90%;
    padding-top: 10%;
}

#conteudo2 {
    width: 90%;
    padding-top: 10%;
}

#conteudo3 {
    width: 90%;
    padding-top: 10%;
}

#conteudo3 {
    width: 90%;
    padding-top: 10%;
}